@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
	font-family: 'Lora';
	src: url('/fonts/Lora-VariableFont_wght.ttf');
}

:root [data-theme='wintry'] {
	--theme-font-family-base: 'Inter', sans-serif;
	--theme-font-family-heading: 'Lora', serif;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
}

html,
body {
	@apply h-full overflow-hidden;
}
